table th {
  background-color: #008080;
  padding: 10px 20px;
  color: #fff;
}

table td {
  background-color: #d3d3d3;
  padding: 10px 20px;
}

.notice {
  width: fit-content;
  background-color: #afeeee;
  padding: 5px;
} 