table {
  margin: 0 auto;
}
table th {
  background-color: #008080;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
}

table td {
  background-color: #d3d3d3;
  padding: 10px 20px;
  font-size: 20px;
}

.notice {
  width: fit-content;
  background-color: #afeeee;
  padding: 5px;
  font-size: 20px;
} 

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.schedule-title {
  width: fit-content;
  border-bottom: solid 5px #008080;
}

.total_schedules {
  font-weight: 700;
  font-size: 20px;
}

.footer-container {
  display: flex;
  padding: 24px;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto;
}

.form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
}

.form-container-button {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 10px;
}

.title-input-area {
  width: 400px;
  height: 40px;
  font-size: 20px;  
}

.schedule-memo-area {
  width: 400px;
  height: 300px;
  font-size: 20px;
}

.schedule-details-container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;  
}

.schedule-create-container {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;   
}